.todolist {
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgb(34, 39, 107);
}

.list-item {
    background-color: lightblue;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.list-item:hover {
    background-color: lightcyan;
}

.item-input {
    margin: 5px;
    padding: 5px;
    width: calc(100% - 20px);
    background-color: lightsteelblue;
    border: 0px;
    border-radius: 5px;
}

.item-input:focus {
    outline: none;
}

.checkCircle {
    float: right;
    color: black;
}

.checkCircle:hover {
    color: green;
}