.todolist {
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgb(34, 39, 107);
}

.list-item {
    background-color: lightblue;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.list-item:hover {
    background-color: lightcyan;
    scale: 1.05;
}

.list-item-content {
    position: relative;
    display: inline;
}

.list-item-icon {
    position: relative;
    float: right;
}

.item-input {
    position: relative;
    margin: 5px;
    padding: 5px;
    width: calc(100% - 20px);
    background-color: lightsteelblue;
    border: 0px;
    border-radius: 5px;
}

.item-input:focus {
    outline: none;
}

.checkCircle {
    color: black;
    scale: 1.25;
}

.checkCircle:hover {
    color: green;
    scale: 1.50;
}

.finished {
    color: green;
}